
{% load static %}


 


<head>
    <!-- Template Stylesheet -->
    <link href="{% static 'css/authentication.css' %}" rel="stylesheet">
     <!-- jQuery library -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  
<div class="login">
  
  <div class="photo"></div>
  <span>Se connecter</span>

  <form action="{% url 'login' %}" method="POST" id="login-form">
    {% csrf_token %}
    
    <div class="container">

      {%if messages %}
        {% for message in messages  %}
          
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%endfor%}
      {%endif%}
    </div>
    <div class="form-group" id="u">
      <input id="username" spellcheck="false" class="form-control" name="username" type="text" size="18" alt="login" required="">
      <span class="form-highlight"></span>
      <span class="form-bar"></span>
      <label for="username" class="float-label">Nom</label>
    </div>
    <div class="form-group" id="p">
      <input id="password" class="form-control" spellcheck="false" name="password" type="password" size="18" alt="login" required="">
      <span class="form-highlight"></span>
      <span class="form-bar"></span>
      <label for="password" class="float-label">Mot de passe</label>
    </div>
    <div class="form-group">
      <input type="checkbox" id="rem">
      <label for="rem">Rester connecté</label>
      <button type="submit" ripple>Se connecter</button>
    </div>
  </form>
  <footer><a href="signup.html">Créer un compte</a></footer>
</div>
</body>
